<!--**********************************
            Footer start
        ***********************************-->
<div class="footer">
	<div class="copyright">
		<p>
			Copyright © Designed &amp; Developed by
			<a
				href="https://www.linkedin.com/in/keshav-pritani/"
				target="_blank"
				>Keshav Pritani</a
			>
			2021
		</p>
		<!-- <p>
                Distributed by
                <a href="https://themewagon.com/" target="_blank">Themewagon</a>
              </p> -->
	</div>
</div>
<!--**********************************
                Footer end
            ***********************************-->
