<!--**********************************
            Sidebar start
        ***********************************-->
<div class="quixnav">
	<div class="quixnav-scroll">
		<ul class="metismenu" id="menu">
			<li class="nav-label first">Main Menu</li>
			<li>
				<a href="/" aria-expanded="false"
					><i class="icon icon-globe-2"></i
					><span class="nav-text">Dashboard</span></a
				>
			</li>
			<li>
				<a
					class="has-arrow"
					href="javascript:void()"
					aria-expanded="false"
					><i class="icon icon-single-04"></i
					><span class="nav-text">Products</span></a
				>
				<ul aria-expanded="false">
					<li><a href="/products/add">Add Products</a></li>
					<li><a href="/products">View Products</a></li>
				</ul>
			</li>
			<li>
				<a
					class="has-arrow"
					href="javascript:void()"
					aria-expanded="false"
					><i class="icon icon-single-04"></i
					><span class="nav-text">Party</span></a
				>
				<ul aria-expanded="false">
					<li><a href="/party/add">Add Parties</a></li>
					<li><a href="/party">View Party</a></li>
					<li><a href="/party/logs">View Party Payments Logs</a></li>
				</ul>
			</li>
			<li>
				<a
					class="has-arrow"
					href="javascript:void()"
					aria-expanded="false"
					><i class="icon icon-single-04"></i
					><span class="nav-text">Invoices</span></a
				>
				<ul aria-expanded="false">
					<li><a href="/invoice/add">Add Invoice</a></li>
					<li><a href="/invoice">View Invoices</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!--**********************************
                Sidebar end
            ***********************************-->
